.calendar header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 30px;
}

.calendar header button,
.calendar header select {
  margin: 0 4px;
  background-color: #ff80abcf;
  border: 1px solid white;
  color: white;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.calendar header button:hover,
.calendar header select:hover {
  background-color: rgb(51, 51, 171);
  color: white;
  cursor: pointer;
}

.calendar table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  font-size: 25px;
  width: 100%;
}

.calendar th {
  vertical-align: middle;
  text-align: center;
  height: 36px;
}

.calendar .day {
  padding: 4px 8px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
  transition: background-color 0.3s;
}

.calendar .day:hover {
  background-color: rgb(51, 51, 171);
  color: white;
  cursor: pointer;
}

.calendar .day.selected {
  border: 2px solid dodgerblue;
}

.calendar .day.today {
  background-color: dodgerblue;
  color: white;
}

.calendar .day.today:hover {
  background-color: #0081ff;
}

.calendar .day.today.selected {
  border: 2px solid lightgray;
}

.container-weather-calendar {
  display: flex;
  width: 100%;
}

.weatherCalendar {
  font-size: 30px;
}

.btn-select {
  font-size: 30px;
}

.select-year,
.select-month {
  font-size: 20px;
}

.calendar {
  width: 100%;
}
